/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color:#ffecd4;
    font-family: Barlow, Helvetica, sans-serif;
    color: #423d38;
}


/* Regras de estilo para dispositivos com largura menor que 768 pixels (tablet) */
@media (max-width: 767px) {
    body {
      font-size: 16px;
    }

    .social-media{
      font-weight: 600;
      text-align: right;
      margin-top: 2rem;
      font-size: 1.25rem;
    }
}

/* Regras de estilo para dispositivos com largura menor que 576 pixels (celular) */
@media (max-width: 575px) {
    body {
      font-size: 14px;
    }

    .main-logo{
      max-width: 130px;
    }
}

@media (max-width: 1200px)
{
    .main{
        flex-direction: column;
        justify-content: center;
    }

    .intro{
        margin: 0;
    }
    .intro-heading{
        font-size: 1rem;
        line-height: 1rem;
    }

    /* .social-media{
      align-content: center;
      flex-direction: column;
      font-size: 1rem;
    } */


}

body{
  background-color:#ffecd4;
  font-family: Barlow, Helvetica, sans-serif;
  color: #423d38;
}


.intro--descricao-callout{
  font-weight: 700;
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
}

.main-hero{
  margin: auto;
  left: 0px;
  max-width: 65%;
}

.main-logo{
  max-width: 35%;
  /* margin-right: 2rem; */
}


.intro--descricao{
  margin: 2rem;
  text-align: center;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.social-media{
  background-color:aqua;
  margin: auto;
  max-width: 100%;
  padding: 10px;
  text-align: right;
  font-weight: 700;
  margin-bottom: 3rem;
}

.intro-heading{
  font-size: 3rem;
  line-height: 3rem;
}

.intro--descricao{
  margin-top: .75rem;
}

.left {
  flex: 1;
  background-color: #4b4949;
}

.right {
  flex: 1;
  background-color: #81e281;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  margin-top: 2rem;
  font-size: 1.25rem;
}

.social-media--icons{
  width: 24px;
  text-align: center;
  margin-top: 2rem;
}

.social-media a {

  text-decoration: none;
}

.social-media ul {
  text-align: center;
}

.social-media--icons ul {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  font-weight: 400;
}

.footer {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
}
