/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}max-width
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color:#ffecd4;
    font-family: Barlow, Helvetica, sans-serif;
    color: #423d38;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #f3a56d;
    padding: .75rem;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.navbar > .nav-link:hover{
    border-radius: 5px;
    border-color: white;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .main{
        flex-direction: column;
        justify-content: center;
    }

    .intro--descricao{
        margin: 0;
        font-size: .75rem;
    }
    .intro-heading{
        font-size: 1rem;
        line-height: 1rem;
    }

    .main-logo{
      max-width: 30%;
    }

    .footer--note {
      align-self: center;
      font-size: .5rem;
    }
}

/* Regras de estilo para dispositivos com largura a partir de 768 pixels a 1024px (tablets e alguns smartphones) */

@media (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .footer {
      display: inline-block;
      text-align: center;
      padding-top: 6rem;
      margin-bottom: 2rem;
    }

}

/* Regras de estilo para dispositivos com largura menor que 768 pixels (tablets e alguns smartphones) */
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }

  .social-media{
    font-weight: 600;
    text-align: right;
    margin-top: 2rem;
    font-size: 1.25rem;
  }

  .footer {
    font-size: .25rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  .navbar {
    flex-direction: row;
}
}

/* Regras de estilo para dispositivos com largura menor que 768 pixels (tablet) */
@media (max-width: 860px) {
    body {
      font-size: 16px;
    }

    .social-media{
      font-weight: 600;
      text-align: right;
      margin-top: 2rem;
      font-size: 1.25rem;
    }

    .main-hero{
      display: none;
    }

    .main--descricao-callout{
      font-size: .75rem;
      color:blue;
    }

    .localizacao{
      display: flex;
      flex-direction: column;
    }

    .localizacao--texto {
      padding-bottom: 1rem;
      align-items: center;
    }
}

/* Regras de estilo para dispositivos com largura menor que 576 pixels (celular) */
@media (max-width: 575px) {
    body {
      font-size: 14px;
    }

    .main-logo{
      max-width: 130px;
    }

    .patrocinio--section {
      display: flex;
      flex-direction: column;
  }

  iframe {
    width: auto;
  }


}


body{
  background: hsla(191, 60%, 89%, 1);
  background: linear-gradient(315deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);
  font-family: Barlow, Helvetica, sans-serif;
  color: #4b4949;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main--descricao-callout{
  font-weight: 700;
    font-size: 2rem;
  padding: 1rem;
  color: red;
}


.main-chamada {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  z-index: -1;
  margin-bottom: 2rem;
}

.main-hero{
  left: 0px;
  position: absolute;
  z-index: -1;
  max-height: 465px;
}

.main-logo{
  max-width: 60%;
  height: auto;
  margin-right: 0rem;
  z-index: -1;
  margin-top: 3.75rem;
}

.intro {
  display: flex;
  margin-top: 2rem;
  justify-content:center;
    flex-direction: row;
    background-color: #299BA6;
    color:#fff;
}

.intro--descricao h2{
  margin: 2rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 100%;
  margin-top: 2rem;
    font-weight: 700;
}

.intro-cidade p{
    margin:2rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.intro--orientacoes img {
  max-width: 60px;
}

.intro--orientacoes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-cidade--callout {
  text-align: center;
}

.social-media{
  margin: auto;
  max-width: 100%;
  padding: 10px;
  text-align: right;
  font-weight: 700;
  margin-bottom: 3rem;
}

.intro-heading{
  font-size: 3rem;
  line-height: 3rem;
}

.intro--descricao{
  margin-top: .75rem;
  max-width: 1280px;
}

.left {
  flex: 1;
  background-color: #4b4949;
}

.right {
  flex: 1;
  background-color: #81e281;
}

.sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem;
    background-image: url("../img/assets/Fitinhas_bg.png");
    background-repeat: no-repeat;
    background-position: 70% 0;
    background-size: cover;
}

.sponsor h2, .localizacao--texto h2 {
  padding-bottom: 1rem;
  font-size: 28px;
  font-weight: 700;
  color:#141414;
}
  .patrocinio--section {
    display: flex;
}

.patrocinio-texto h3, .localizacao--texto h3{
    font-size:1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.patrocinio-texto h3, .patrocinio-texto p{
    color:#000;
}

.sponsor a {
    text-decoration: none;
    color:#141414;
}

.sponsor a:hover {
  text-decoration: none;
  color: #fff;
}

.sponsor button {
    border: 0;
    border-radius: 8px;
    background-color: #e0ecec;
    font-weight: 500;
    margin-top: .5rem;
    padding: 8px;
}

.sponsor button:hover{
    border-radius: 8px;
    background-color: #299BA6;
    border:4px solid hsla(56, 59%, 86%, 1)
}

.sponsor button:active{
  color:#141414;
  border-radius: 8px;
  background-color:hsla(56, 59%, 86%, 1);
  border:4px solid #299BA6;
}

.localizacao {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  align-items:center;
  background-color:hsla(25, 85%, 69%, 1);
}

.orientacoes {
  background-color: #182C93;
}

.mapouter{
  border-radius: 20px;
  max-width: 100%;
}

.social-media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  margin-top: 2rem;
  font-size: 1.25rem;
  align-items:center;
}

.social-media--icons{
  width: 24px;
  text-align: center;
  margin-top: 2rem;
  margin-right: 1rem;
}

.navbar button{
    border:0;
    background-color: #F2A56D;
}

.navbar button:hover{
    border:white;

    background-color: #299BA6;
}


.navbar a, .social-media a, .social-media a:link, .social-media a:visited {
  text-decoration: none;
  color: #4b4949;
}

.social-media ul {
  text-align: center;
}

.social-media--icons ul {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  font-weight: 400;
}

.social-media ul li a {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-right: 1rem;
  align-items: flex-end;
  flex-direction: row;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: red;
  color: #fff;
  max-width: 100%;
  line-height: 3rem;
}


.footer--note {
  font-size: 1rem;
}

.c4p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.btn-c4p {
  padding: 10px 20px;
  color: #ffffff; 
  background-color: #f7931e; 
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
}

.btn-c4p:hover {
  background-color: #f7931e; 
  box-shadow: 0 0 10px #f7931e, 0 0 20px #f7931e, 0 0 40px #f7931e;
}