/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
max-width ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0px;
  box-shadow: 0px 2px #f7931e;
  z-index: 4;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav-title img {
  width: 64px;
  padding-left: 1rem;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #141414;
}

.nav > .nav-links > a:hover {
  background-color: #fff;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 900px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #fff;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

body {
  font-family: Barlow, Helvetica, sans-serif;
  color: #4b4949;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: -1;
  margin: 4rem;
  padding: 3rem;
}

.header__callout__heading {
  font-weight: 700;
  font-size: 3rem;
  padding: 1rem;
  color: red;
}

.header__callout__subheading {
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
  color: #f7931e;
}

.header__callout__address {
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem;
  color: #299ba6;
}

.header__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  align-items: flex-start;
}

.header__hero {
  left: 0px;
  position: relative;
  z-index: -1;
  max-height: 465px;
  border-radius: 80px;
}

.header__c4p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0.75rem;
}

.main-logo {
  max-width: 60%;
  height: auto;
  margin-right: 0rem;
  z-index: -1;
  margin-top: 3.75rem;
}

.intro {
  margin: auto;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
}

.intro__wrapper {
  margin: 2rem;
}

.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #141414;
  text-align: center;
}

.intro__headline {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem;
}

.intro__subheadline {
  margin: 2rem;
  font-size: 1rem;
}

.intro--orientacoes img {
  max-width: 60px;
}

.intro--orientacoes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro__city--callout {
  text-align: center;
}

.intro__descritpion p {
  line-height: 3rem;
  font-size: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
  height: auto;
}

.localizacao--texto {
  padding-bottom: 1rem;
  text-align: left;
  margin-right: 1.75rem;
  margin-right: 1.75rem;
}

.sponsor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
  padding-top: 3rem;
  flex-direction: column;
}

.sponsor h2,
.localizacao--texto h2 {
  padding-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: #141414;
}

.sponsor--section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 4rem;
  column-gap: 2rem;
  margin: auto;
}

/* .sponsor-texto .c4p {
  margin: 60px;
} */

.sponsors-list {
  padding-bottom: 3rem;
  align-self: center;
  text-align: center;
}

.sponsor-texto h3,
.sponsors-list h3,
.localizacao--texto h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.sponsors-list img {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 100px;
  margin-top: 1rem;
}

.sponsor-texto h3,
.sponsors-list h4,
.sponsor-texto p {
  color: #fff;
  margin-bottom: 1.5rem;
}

h4 {
  color: #000;
  font-weight: 700;
}

.sponsor {
  background-color: #141414;
}

.sponsor h2 {
  color: #f7931e;
}

.sponsors-list {
  margin-top: 2rem;
}

.sponsor-texto {
  margin: 2.75rem;
}

.sponsor-texto p {
  font-size: 1rem;
  font-weight: 500;
}

.sponsors-list__apoiadores {
  padding-top: 3rem;
}

.sponsors-flex,
.sponsors-list__bronze,
.sponsors-list__ouro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 40px;
}

.sponsors-list__ouro img {
  width: 240px;
}

.sponsors-list__bronze img {
  width: 70%;
}

.sponsors-list__apoiadores img {
  width: 60%;
}

@media (min-width: 768px) {
  .sponsors-flex,
  .sponsors-list__bronze,
  .sponsors-list__ouro {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .sponsors-flex,
  .sponsors-list__bronze,
  .sponsors-list__ouro {
    gap: 5rem;
  }
}

.localizacao {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  align-items: center;
}

.orientacoes {
  background-color: white;
  color: #141414;
}

.mapouter {
  border-radius: 20px;
  max-width: 100%;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 600;
  margin-top: 2rem;
  font-size: 1.25rem;
  align-items: center;
}

.social-media--icons {
  width: 24px;
  text-align: center;
  margin: 0.75rem;
}

.navbar button {
  border: 0;
  background-color: #f2a56d;
}

.navbar button:hover {
  border: white;
  background-color: #299ba6;
}

.navbar a {
  text-decoration: none;
  color: #4b4949;
}

footer {
  width: 100%;
  color: #fff;
  background-color: #141414;
  padding-bottom: 2rem;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 2rem;
}

.footer__note {
  font-size: 0.75rem;
}

.social-media a,
.social-media a:link,
.social-media a:visited .footer__footnote a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

.btn-c4p,
.btn-subscriptions {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #f7931e;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
}

.btn-c4p:hover {
  background-color: #f7931e;
  box-shadow: 0 0 10px #f7931e, 0 0 20px #f7931e, 0 0 40px #f7931e;
}

.btn-subscriptions {
  background-color: #182c93;
}

.btn-subscriptions:hover {
  background-color: #6177e5;
  box-shadow: 0 0 10px#6177E5, 0 0 20px#6177E5, 0 0 40px#6177E5;
}

@media screen and (max-width: 768px) {
  .navbar a:not(:last-child) {
    display: none;
  }
  .navbar a.icon {
    color: black;
    float: right;
    display: block;
  }
  .footer__footnote {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .navbarresponsive {
    background-color: #f7931e;
  }
  .navbarresponsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
  }
  .navbarresponsive .nav-link {
    float: none;
    display: flex;
    text-align: left;
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 14px;
  }
  .navbarresponsive .nav-link:hover {
    /* background-color: #FBC689; */
    color: #141414;
  }

  .navbarresponsive .nav-link:focus {
    box-shadow: 0 0 10px#6177E5, 0 0 20px#6177E5, 0 0 40px#6177E5;
    background-color: #6177e5;
  }
}

@media (min-width: 1024px) {
  .icon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    justify-content: center;
  }
  .intro__description {
    margin: 0;
    font-size: 0.75rem;
  }
  .intro-heading {
    font-size: 1rem;
    line-height: 1rem;
  }

  .footer--note {
    align-self: center;
    font-size: 0.5rem;
  }
}
/* Regras de estilo para dispositivos com largura a partir de 768 pixels a 1024px (tablets e alguns smartphones) */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    display: inline-block;
    text-align: center;
    padding-top: 6rem;
    margin-bottom: 2rem;
  }
}
/* Regras de estilo para dispositivos com largura menor que 768 pixels (tablets e alguns smartphones) */
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
  .social-media {
    font-weight: 600;
    text-align: right;
    margin-top: 2rem;
    font-size: 1.25rem;
  }
  .footer {
    font-size: 0.25rem;
    text-align: center;
    padding-bottom: 1rem;
  }
  .navbar {
    flex-direction: row;
  }
  i:before,
  .i:before {
    display: none;
  }
}
/* Regras de estilo para dispositivos com largura menor que 768 pixels (tablet) */
@media (max-width: 860px) {
  body {
    font-size: 16px;
  }

  .social-media {
    font-weight: 600;
    text-align: right;
    margin-top: 2rem;
    font-size: 1.25rem;
  }

  .header {
    display: flex;
    justify-content: center;
    z-index: -1;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
  }

  .header__hero {
    display: none;
  }

  .header__callout {
    color: blue;
  }

  .localizacao {
    display: flex;
    flex-direction: column;
  }

  .localizacao--texto {
    margin-bottom: 1rem;
    text-align: center;
    margin-right: 1.5rem;
  }
}
/* Regras de estilo para dispositivos com largura menor que 576 pixels (celular) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .main-logo {
    max-width: 130px;
  }

  .sponsor--section {
    display: flex;
    flex-direction: column;
  }

  iframe {
    width: auto;
  }
}
